.App {
  text-align: right;
  background-color: black;
  color:salmon
}
  

  .App-header {
    background-color:red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: pink;
  }
  
  .App-link {
    color: pink;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


}
